/*#parser {*/

/*}*/

/*.headers {*/
/*margin: 0 auto;*/
/*height: 60px;*/
/*}*/

/*.sources {*/
/*position: relative;*/
/*width: 1060px !important;*/
/*min-width: 1060px !important;*/
/*padding: 0px 0px 0px 50px;*/
/*margin: 0 auto;*/
/*border: 0;*/
/*clear: both; *//*background: url('../images/box-shadow.png') repeat-y 0% 0%;*/
/*overflow: auto;*/
/*}*/

#subheader {
    overflow: auto;
    text-align: left;
    margin: 0 auto;
    border-top: 2px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: auto;
    background: #E5ECF9;
    padding: 15px;
}

#subheader p {
    color: #444444 !important;
    padding-bottom: 5px;
    font-size: 0.8em;
}

#subheader p span {
    color: #444444 !important;
    line-height: 1.5em;
}

#subheader p b {
}

#subheader p .code {
    color: #444444 !important;
    font: 1em fixed-width;
    font-weight: bold;
    padding: 2px;
    border: 1px solid lightgray;
}

#subheader p em {
    float: right;
    padding: 0 28% 0 0;
    font-style: normal;
    font-size: 1em;
}

#subheader ul {
    padding-top: 0px;

}

#subheader ul li {
    line-height: 1.4em;
    color: #444444 !important;
}

#subheader p.intro {
    margin: auto;
    color: #CC6600 !important;
    font-size: 1.6em;
    line-height: 1.7em;
    padding-bottom: 20px;
}

#subheader #tool-intro {
    height: auto;
    margin: 0 auto;
}

#subheader #tool-intro .body {
    padding-top: 20px;
}

#subheader #tool-intro p.info {
    color: black !important;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.7em;
}

#content #tool-body {
    height: 1000px;
    margin: 0 auto;
}

#content .translatorCol1 {
    float: left;
    width: 410px;
    height: 100%;
    padding: 0px;
}

#content .translatorCol2 {
    float: left;
    width: 620px;
    height: 100%;
    padding: 0px;
}

#sourceText {
    width: 240px !important;
    height: 200px !important;
}

#idPrefix {
    width: 240px; !important;    
}

#targetText {
    width: 100% !important;
    height: 100% !important;
}

#content .translatorCol1 .fieldSet {
    width: auto;
    margin: 0 auto;
    overflow: auto;
    vertical-align: top;
    padding: 0px 0px 15px;

    color: black !important;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.7em;
}

#content .translatorCol1 .fieldSet .fieldCol1 {
    float: left;
    width: 140px;
    height: 100%;
    padding-right: 10px;
}

#content .translatorCol1 .fieldSet .fieldCol2 {
    float: left;
    width: 240px;
    height: 100%;
    padding-left: 5px;
    text-align: right;
}

.focusField {
    border: solid 2px #73A6FF;
    background: #EFF5FF;
    color: #000;
}

.idleField {
    background: #EEE;
    color: #6F6F6F;
    border: solid 2px #DFDFDF;
}

.formLayout {
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding: 20px;
    padding-bottom: 15px;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.formLayout label, .formLayout input, .formLayout .button {
    display: block;
    width: 60px;
    float: left;
    margin-bottom: 10px;
}

.formLayout label {
    text-align: right;
    padding-right: 20px;
}

br {
    clear: left;
}

.formLayout .notes {
    width: 250px;
    text-align: left;
    padding-top: 20px;
    padding-left: 80px;
}

.formLayout ul {
    padding-left: 20px;
}

pre {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #444444 !important;
    font: 1.2em fixed-width;
    font-weight: bold;
}
